@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primaria: #4379F2;
    --color-secundario: #FFEB00;
    --color-terciario: #6EC207;
    --color-rodape: black;
    --color-rodape-texto: white;

    --texto-primario: "Poppins", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

.primaria{
    background-color: var(--color-primaria);

    padding: 50px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.primeira-titulo{
    font-family: var(--texto-primario);
    font-weight: 700;
    font-style: normal;
    font-size: 5em;
}

.primaria-primaria{
    background-color: var(--color-secundario);

    padding: 100px;
    border: 10px solid black;
    border-radius: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.primaria-div-um{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;

    font-family: var(--texto-primario);
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
}

.primaria-subtitulo{
    font-size: 2.5em;
}

.primaria-bt{
    background-color: var(--color-terciario);

    padding: 10px 30px;
    border: 5px solid black;
    border-radius: 100px;

    text-decoration: none;

    transition: 0.7s;
}

.primaria-bt:hover{
    background-color: var(--color-primaria);
}

.primaria-img{
    border: 7px solid var(--color-rodape);

    border-radius: 100px;
}

.rodape{
    background-color: var(--color-rodape);
    color: var(--color-rodape-texto);

    padding: 10px 0;

    text-align: center;

    font-family: var(--texto-primario);
    font-weight: 100;
    font-style: normal;
    font-size: 1em;
}

@media (max-width: 1020px){

    .primeira-titulo{
        font-size: 1.3em;
    }

    .primaria-primaria{
        padding: 10px;

        flex-direction: column;

        gap: 30px;
    }

    .primaria-subtitulo{
        font-size: 1em;
    }

    .primaria-div-um{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;

        font-size: 1em;
    }
}